In [20]:
import pandas as pd
import numpy as np
from wand.image import Image
import os
from tqdm import tqdm
import json

In [21]:
df=pd.read_excel('razm.xlsx')

In [22]:
# with open('files.json') as f:
#     file_list = json.loads(f.read())

for img in tqdm(df['Названия']):
    ny = Image(filename=f'Итоговый датасет/{img}')
    size=min(ny.height,ny.width)
    ny.crop(width=size, height=size, gravity='center')
    ny.resize(256, 256)
    ny_convert = ny.convert('jpg')
    ny_convert.save(filename=f'img/{img}.jpg')

100%|██████████| 10863/10863 [16:53<00:00, 10.71it/s]

In [23]:
def change_ext(file):
    return f'img/{file}.jpg'


# df = df[df['Названия'].isin(file_list)]
df['Названия'] = df['Названия'].map(change_ext)

In [24]:
df['День'] = df['Время суток'].map(lambda a: 1 if a == 1 else 0)
df['Ночь'] = df['Время суток'].map(lambda a: 1 if a == 2 else 0)
df['Рассвет/закат'] = df['Время суток'].map(lambda a: 1 if a == 3 else 0)

df['Зима'] = df['Время года'].map(lambda a: 1 if a == 1 else 0)
df['Весна'] = df['Время года'].map(lambda a: 1 if a == 2 else 0)
df['Лето'] = df['Время года'].map(lambda a: 1 if a == 3 else 0)
df['Осень'] = df['Время года'].map(lambda a: 1 if a == 4 else 0)

df['Лес'] = df['Местность'].map(lambda a: 1 if a == 1 else 0)
df['Город'] = df['Местность'].map(lambda a: 1 if a == 2 else 0)

df = df.drop(columns=['Время суток', 'Время года', 'Местность'])

In [25]:
df.describe()

,Авиа,Автомобили,БПЛА,Водолаз,Кинолог,Кони,Объятия,Шерп,День,Ночь,Рассвет/закат,Зима,Весна,Лето,Осень,Лес,Город
count,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.00000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000,10863.000000
mean,0.183099,0.158796,0.199300,0.143054,0.063334,0.089754,0.017306,0.115346,0.69281,0.057074,0.088373,0.125840,0.017859,0.460646,0.086993,0.167633,0.113597
std,0.386765,0.365502,0.399493,0.350144,0.243574,0.285842,0.130417,0.319453,0.46135,0.231996,0.283850,0.331684,0.132444,0.498472,0.281837,0.373557,0.317335
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
rng = np.random.RandomState()

train = df.sample(frac=0.8, random_state=rng)
test = df.loc[~df.index.isin(train.index)]

In [27]:
train.to_csv('train.csv',index=None)
test.to_csv('test.csv',index=None)